@{
    ViewData["Title"] = "Bilet Satış Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Bilet Satış Ana Sayfa</h1>
    <div>
        <a href="@Url.Action("TicketCreate", "Home")" class="btn btn-primary">Bilet Oluştur</a>
        <a href="@Url.Action("TicketSearch", "Home")" class="btn btn-primary">Biletleri Ara</a>
    </div>
</div>